---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Anyhla" description="Editorial photography">
  <h1 class="visually-hidden">Anyhla</h1>
  <section class="works">
    <div class="grid">
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
    </div>
  </section>
</Layout>
