---
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/de/" />
    <link rel="canonical" href="/de/" />
    <title>Anyhla</title>
  </head>
  <body>
    <a href="/de/">Anyhla</a>
  </body>
</html>
